<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modernhome.mapper.ClientMapper">
	
	<!-- 거래처 불러오기(페이징) -->
	<select id="clientList" resultType="com.modernhome.domain.ClientVO">
		SELECT * FROM client
		ORDER BY clt_id DESC
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 거래처 불러오기(페이징) -->
	
	<!-- 전체 글 수 계산 (페이징) -->
	<select id="cltTotalCnt" resultType="int">
		SELECT count(*) from client
	</select>
	<!-- 전체 글 수 계산 (페이징) -->
	
	<!-- 거래처 검색 결과 조회(페이징) -->
	<select id="cltSearchList" resultType="com.modernhome.domain.ClientVO">
  select * from client
  <where>
    <if test="clientVO.clt_name != ''">
      clt_name LIKE CONCAT('%', #{clientVO.clt_name}, '%')
    </if>
    <if test="clientVO.clt_rep != ''">
      AND clt_rep LIKE CONCAT('%', #{clientVO.clt_rep}, '%') 
    </if>
    <if test="clientVO.clt_sort != null">
      AND clt_sort LIKE CONCAT('%', #{clientVO.clt_sort}, '%') 
    </if>
  </where>
  ORDER BY clt_id DESC
  LIMIT #{pageVO.startPage}, #{pageVO.pageSize}
</select>
	<!-- 거래처 검색 결과 조회 (페이징) -->
	
	<!-- 검색 결과 개수 계산(페이징) -->
	<select id="cltSearchCnt" resultType="int">
		select count(*) from client
			<where>
			<if test="clt_name != ''">
				clt_name LIKE CONCAT('%', #{clt_name}, '%')
			</if>
			<if test="clt_rep != ''">
				AND clt_rep LIKE CONCAT('%', #{clt_rep}, '%') 
			</if>
			<if test="clt_sort != null">
				AND clt_sort LIKE CONCAT('%', #{clt_sort}, '%') 
			</if>
		</where>
	</select>

	
	<!-- 거래처등록 -->
	<insert id="regClient">
		<selectKey keyProperty="clt_num" resultType="String" order="BEFORE">
		SELECT CONCAT('CL', LPAD(COALESCE(MAX(SUBSTR(clt_num, 3)), 0) + 1, 4, '0'))
			FROM client
		</selectKey>
		
		
		INSERT INTO client (clt_num, clt_sort, clt_name, clt_rep,
			clt_tel, clt_adr, clt_post, clt_email)
		
		VALUES (#{clt_num}, #{clt_sort}, #{clt_name}, #{clt_rep}, #{clt_tel}, #{clt_adr}, #{clt_post}, #{clt_email})
		
	</insert>
	<!-- 거래처등록 -->
	
	<!-- 거래처삭제 -->
	<delete id="deleteClient">
		DELETE FROM client WHERE clt_num = #{clt_num}
	</delete>
	<!-- 거래처삭제 -->
	
	<!-- 거래처업데이트 -->
	<update id="updateClient">
		UPDATE client SET clt_sort = #{clt_sort}, clt_name = #{clt_name},
		 clt_rep = #{clt_rep}, clt_tel = #{clt_tel}, clt_adr = #{clt_adr}, clt_post = #{clt_post}, clt_email = #{clt_email}	
		WHERE clt_num = #{clt_num}
	</update>
	<!-- 거래처업데이트 -->
	
	
	
	
	
	
	
	<!-- 수주 거래처수 계산 -->
	<select id="ooCltCnt" resultType="int">
		SELECT COUNT(*) FROM client
		WHERE clt_sort = '수주'
		<if test="clt_name != null and clt_name != ''">
			AND clt_name LIKE CONCAT('%', #{clt_name}, '%') 
		</if>
	</select>
	<!-- 수주 거래처수 계산 -->
	
	<!-- 수주 거래처수 리스트(페이징) -->
	<select id="ooCltList" resultType="com.modernhome.domain.ClientVO">
		SELECT * FROM client
		WHERE clt_sort = '수주'
		<if test="cvo.clt_name != null and cvo.clt_name != ''">
			AND clt_name LIKE CONCAT('%', #{cvo.clt_name}, '%') 
		</if>
		ORDER BY clt_id DESC
  		LIMIT #{pvo.startPage}, #{pvo.pageSize}
	</select>
	<!-- 수주 거래처수 리스트(페이징) -->
	

</mapper>