<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modernhome.mapper.ClientMapper">
	
	<!-- 거래처 불러오기 -->
	<select id="clientList" resultType="com.modernhome.domain.ClientVO">
		SELECT * FROM client
	</select>
	<!-- 거래처 불러오기 -->
	
	<!-- 거래처 검색 -->
	<select id="clientListSearch" resultType="com.modernhome.domain.ClientVO">
		SELECT * FROM client 
		<where>
			<if test="clt_name != ''">
				clt_name LIKE CONCAT('%', #{clt_name}, '%')
			</if>
			<if test="clt_rep != ''">
				AND clt_rep LIKE CONCAT('%', #{clt_rep}, '%') 
			</if>
			<if test="clt_sort != null">
				AND clt_sort = #{clt_sort}
			</if>
		</where>
	</select>
	<!-- 거래처 검색 -->
	
	<!-- 거래처등록 -->
	<insert id="regClient">
		<selectKey keyProperty="clt_num" resultType="String" order="BEFORE">
		SELECT CONCAT('CL', LPAD(COALESCE(MAX(SUBSTR(clt_num, 3)), 0) + 1, 4, '0'))
			FROM client
		</selectKey>
		
		
		INSERT INTO client (clt_num, clt_sort, clt_name, clt_rep,
			clt_tel, clt_adr, clt_post, clt_email)
		
		VALUES (#{clt_num}, #{clt_sort}, #{clt_name}, #{clt_rep}, #{clt_tel}, #{clt_adr}, #{clt_post}, #{clt_email})
		
	</insert>
	<!-- 거래처등록 -->
	
	<!-- 거래처삭제 -->
	<delete id="deleteClient">
		DELETE FROM client WHERE clt_id = #{clt_id}
	</delete>
	<!-- 거래처삭제 -->
	
	<!-- 거래처업데이트 -->
	<update id="updateClient">
		UPDATE client SET clt_sort = #{clt_sort}, clt_name = #{clt_name},
		 clt_rep = #{clt_rep}, clt_tel = #{clt_tel}, clt_adr = #{clt_adr}, clt_post = #{clt_post}, clt_email = #{clt_email}	
		WHERE clt_num = #{clt_num}
	</update>
	<!-- 거래처업데이트 -->
	
	

</mapper>