<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.modernhome.mapper.inorderMapper">
  
  	<!-- 발주 목록 -->
	<resultMap id="inorderResultMap" type="com.modernhome.domain.InorderVO">
	
        <result property="io_id" column="io_id" />
        <result property="io_num" column="io_num" />
        <result property="ma_id" column="ma_id" />
        <result property="io_cnt" column="io_cnt" />
        <result property="io_amount" column="io_amount" />
        <result property="io_unit" column="io_unit" />
        <result property="io_date" column="io_date" />
        <result property="io_state" column="io_state" />
        <result property="rec_date" column="rec_date" />
        <result property="clt_id" column="clt_id" />
        <result property="emp_id" column="emp_id" />
        <result property="io_reg_date" column="io_reg_date" />
        <result property="io_update_date" column="io_update_date" />
        <result property="update_emp_id" column="update_emp_id" />
		<result property="ma_num" column="ma_num" />
		<result property="ma_name" column="ma_name" />
		<result property="ma_price" column="ma_price" />
		<result property="clt_name" column="clt_name" />
		<result property="clt_num" column="clt_num" />
		<result property="emp_name" column="emp_name" />

	</resultMap>
    
    <select id="getInorderList" resultMap="inorderResultMap">
        <![CDATA[
	        SELECT io_id, io_num, m.ma_id, m.ma_num, m.ma_name, c.clt_id, c.clt_num, c.clt_name,
					i.io_cnt, i.io_unit, m.ma_price, i.io_date, i.io_state, i.rec_date, i.emp_id, i.io_reg_date, i.io_update_date, i.update_emp_id,
	        CASE
	        	WHEN i.update_emp_id IS NULL THEN
	        		(SELECT emp_name FROM employee WHERE emp_id = i.emp_id)
	        	ELSE
	        		(SELECT emp_name FROM employee WHERE emp_id = i.update_emp_id)	
	        END AS emp_name
	        FROM in_order i
	        JOIN employee e ON i.emp_id = e.emp_id
	        JOIN material m ON i.ma_id = m.ma_id
	        JOIN client c ON i.clt_id = c.clt_id
	        ORDER BY io_id DESC
			LIMIT #{startPage}, #{pageSize}
        ]]>
    </select>
    <!-- 발주 목록 -->
    
    <!-- 발주 검색 -->
    <select id="inorderSearch" resultMap="inorderResultMap" parameterType="java.util.Map">
		SELECT io_id, io_num, m.ma_num, m.ma_name, c.clt_num, c.clt_name,
				i.io_cnt, i.io_unit, m.ma_price, i.io_date, i.io_state, i.rec_date, i.emp_id, i.io_reg_date, i.io_update_date, i.update_emp_id,
        CASE
        	WHEN i.update_emp_id IS NULL THEN
        		(SELECT emp_name FROM employee WHERE emp_id = i.emp_id)
        	ELSE
        		(SELECT emp_name FROM employee WHERE emp_id = i.update_emp_id)	
        END AS emp_name
        FROM in_order i
        JOIN employee e ON i.emp_id = e.emp_id
        JOIN material m ON i.ma_id = m.ma_id
        JOIN client c ON i.clt_id = c.clt_id
        <where>
            <if test="io_state != '전체'">
                io_state = #{io_state}
            </if>
            <if test="ma_name != ''">
                AND ma_name like CONCAT('%', #{ma_name}, '%')
            </if>
            <if test="istartDate != ''">
                AND i.io_date &gt;= #{istartDate}
            </if>
            <if test="iendDate != ''">
                AND #{iendDate} &gt;= DATE(i.io_date)
            </if>
            <if test="rstartDate != ''">
                AND i.rec_date &gt;= #{rstartDate}
            </if>
            <if test="rendDate != ''">
                AND #{rendDate} &gt;= DATE(i.rec_date)
            </if>
        </where>
            ORDER BY io_id DESC
			LIMIT #{pageVO.startPage}, #{pageVO.pageSize}
    </select>
    <!-- 발주 검색 -->
    	
    <!-- 발주 등록 -->	
    <insert id="regInorder">
	    INSERT INTO in_order (io_num, ma_id, clt_id, io_cnt, io_unit, io_amount, io_date, io_state, rec_date, io_reg_date, emp_id)
	    SELECT
	        CONCAT(SUBSTRING(io_num, 1, 2), LPAD(max(io_id) + 1, 6, '0')),
	        #{ma_id},
	        #{clt_id},
	        #{io_cnt},
	        #{io_unit},
	        #{ma_price}*#{io_cnt},
	        now(),
	        #{io_state},
	        #{rec_date},
	        now(),
	        #{emp_id}
	    FROM in_order
	    WHERE io_num LIKE CONCAT('%', 'IO', '%');
	</insert>
    <!-- 발주 등록 -->	
  	
    <!-- 발주 삭제 -->
    <delete id="deleteInorder">
		DELETE FROM in_order
		WHERE io_id = #{io_id}
	</delete>	
    <!-- 발주 삭제 -->	

    <!-- 발주 수정 -->
    <update id="updateInorder">
		UPDATE in_order
		SET io_cnt = #{io_cnt}, io_state = #{io_state}, rec_date = #{rec_date}, 
		io_amount = #{io_cnt}*#{ma_price}, io_update_date = now(), update_emp_id = #{update_emp_id} 
		WHERE io_num = #{io_num}
	</update>	
    <!-- 발주 수정 -->	
	
	<!-- 발주 목록 (페이징) -->
<!-- 	<select id="ioListPage" resultType="InorderVO"> -->
<!-- 		SELECT * from in_order -->
<!-- 		ORDER BY io_id DESC -->
<!-- 		LIMIT #{startPage}, #{pageSize} -->
<!-- 	</select> -->
	<!-- 발주 목록 (페이징) -->
	
	<!-- 전체 글 수 계산 -->
	<select id="ioTotalCnt" resultType="int">
		SELECT count(io_id)
	        FROM in_order i
	        JOIN employee e ON i.emp_id = e.emp_id
	        JOIN material m ON i.ma_id = m.ma_id
	        JOIN client c ON i.clt_id = c.clt_id
	</select>
	<!-- 전체 글 수 계산 -->
	
	<!-- 검색 결과 개수 계산 -->
	<select id="ioSearchCnt" resultType="int">
		SELECT count(io_id)
        FROM in_order i
        JOIN employee e ON i.emp_id = e.emp_id
        JOIN material m ON i.ma_id = m.ma_id
        JOIN client c ON i.clt_id = c.clt_id
        <where>
            <if test="io_state != '전체'">
                io_state = #{io_state}
            </if>
            <if test="ma_name != ''">
                AND ma_name like CONCAT('%', #{ma_name}, '%')
            </if>
            <if test="istartDate != ''">
                AND i.io_date &gt;= #{istartDate}
            </if>
            <if test="iendDate != ''">
                AND #{iendDate} &gt;= DATE(i.io_date)
            </if>
            <if test="rstartDate != ''">
                AND i.rec_date &gt;= #{rstartDate}
            </if>
            <if test="rendDate != ''">
                AND #{rendDate} &gt;= DATE(i.rec_date)
            </if>
		</where>
	</select>
	<!-- 검색 결과 개수 계산 -->
	
	<!-- 발주서 조회 -->
	<select id="getIoList" resultMap="inorderResultMap">
		SELECT i.io_num, c.clt_num, c.clt_name, c.clt_rep, c.clt_tel, c.clt_adr, c.clt_post, c.clt_email,
				m.ma_num, m.ma_name, m.ma_price, i.io_cnt, i.io_unit, m.ma_price, 
				i.io_date, i.rec_date, e.emp_name
		FROM in_order i
        JOIN client c ON i.clt_id = c.clt_id
        JOIN material m ON i.ma_id = m.ma_id
        JOIN employee e ON i.emp_id = e.emp_id 
        WHERE i.io_id = #{io_id};
	</select>
	<!-- 발주서 조회 -->
	
	
	
	
	<!-- 발주 그래프 -->
	
	<!-- 월별 발주량 -->
	<select id="monthlyIOResult" resultType="com.modernhome.domain.InorderVO">
		SELECT DATE_FORMAT(io_date, '%Y-%m') AS month,
		COUNT(*) monthlyIOCount, SUM(m.ma_price*i.io_cnt) AS monthlyIOAmount
		FROM in_order i
		JOIN material m ON i.ma_id = m.ma_id
		GROUP BY DATE_FORMAT(io_date, '%Y-%m')
		ORDER BY month
	</select>
	<!-- 월별 발주량 -->
	
	
	<!-- 발주 그래프 -->
	
	<!-- 발주 팝업 목록 -->
	<select id="getInorderPopup" resultMap="inorderResultMap">
        <![CDATA[
	        SELECT io_id, io_num, m.ma_id, m.ma_num, m.ma_name, c.clt_id, c.clt_num, c.clt_name,
					i.io_cnt, i.io_unit, m.ma_price, i.io_date, i.io_state, i.rec_date, i.emp_id, i.io_reg_date, i.io_update_date, i.update_emp_id,
	        CASE
	        	WHEN i.update_emp_id IS NULL THEN
	        		(SELECT emp_name FROM employee WHERE emp_id = i.emp_id)
	        	ELSE
	        		(SELECT emp_name FROM employee WHERE emp_id = i.update_emp_id)	
	        END AS emp_name
	        FROM in_order i
	        JOIN employee e ON i.emp_id = e.emp_id
	        JOIN material m ON i.ma_id = m.ma_id
	        JOIN client c ON i.clt_id = c.clt_id
	        WHERE io_state = '완료'
	        ORDER BY io_id DESC
			LIMIT #{startPage}, #{pageSize}
        ]]>
    </select>
	<!-- 발주 팝업 목록 -->
	
	<!-- 발주 팝업 목록 개수 -->
	<select id="getIoPopupCnt" resultType="int">
		SELECT count(io_id)
        FROM in_order i
        JOIN employee e ON i.emp_id = e.emp_id
        JOIN material m ON i.ma_id = m.ma_id
        JOIN client c ON i.clt_id = c.clt_id
        WHERE io_state = '완료'
	</select>
	<!-- 발주 팝업 목록 개수 -->
	
	
	
	
	
	
  </mapper>  