<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modernhome.domain.MaterialStockVO">

	<!-- resultMap -->
	<resultMap type="MaterialStockVO" id="mateStockResultMap">
		<result property="ms_id" column="ms_id" />
		<result property="ms_num" column="ms_num" />
		<result property="ma_id" column="ma_id" />
		<result property="ms_cnt" column="ms_cnt" />
		<result property="wh_id" column="wh_id" />
		<result property="ms_reg_date" column="ms_reg_date" />
		<result property="emp_id" column="emp_id" />
		<result property="ms_update_date" column="ms_update_date" />
		<result property="update_emp_id" column="update_emp_id" />
		<result property="wh_name" column="wh_name" />
		<result property="ma_num" column="ma_num" />
		<result property="ma_name" column="ma_name" />
		<result property="ma_unit" column="ma_unit" />
	
	</resultMap>
	<!-- resultMap -->
	
	<!-- 자재 재고 목록 (페이징) -->
	<select id="getMateStock" resultMap="mateStockResultMap">
		SELECT ms_id, ma_num, wh_name, ms.ma_id, ma_name, ms_cnt, m.ma_unit
		FROM material_stock ms
		JOIN material m ON m.ma_id = ms.ma_id
		JOIN warehouse w ON w.wh_id = ms.wh_id
		ORDER BY ms_id desc
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 자재 재고 목록 (페이징) -->
	
	<!-- 전체 글 개수 (페이징) -->
	<select id="msTotalCnt" resultType="int">
		SELECT count(ms_id)
		FROM material_stock ms
		JOIN material m ON m.ma_id = ms.ma_id
		JOIN warehouse w ON w.wh_id = ms.wh_id
	</select>
	<!-- 전체 글 개수 (페이징) -->
	
	<!-- 자재 재고 등록 -->
	<insert id="regMaStock">
		INSERT INTO material_stock (ms_num, ma_id)
		SELECT CONCAT(SUBSTRING(ms_num, 1, 2), LPAD(max(ms_id) + 1, 6, '0')), #{maxMaId}
		FROM material_stock
		WHERE ms_num LIKE CONCAT('%', 'MS', '%')
	</insert>
	<!-- 자재 재고 등록 -->
	
	<!-- 자재 검색 (페이징) -->
	<select id="searchMateStock" resultType="MaterialStockVO" parameterType="java.util.Map">
		SELECT ms_id, ma_num, wh_name, ms.ma_id, ma_name, ms_cnt, m.ma_unit 
		FROM material_stock ms
		JOIN material m ON m.ma_id = ms.ma_id
		JOIN warehouse w ON w.wh_id = ms.wh_id
		<where>
			<if test="ma_num != ''">
				ma_num like CONCAT('%', #{msVO.ma_num}, '%')
			</if>
			<if test="ma_name != ''">
				AND ma_name like CONCAT('%', #{msVO.ma_name}, '%')
			</if>
		</where>
		ORDER BY ms_id DESC
		LIMIT #{pageVO.startPage}, #{pageVO.pageSize}
	</select>
	<!-- 자재 검색 (페이징) -->
	
	<!-- 검색 결과 개수 (페이징) -->
	<select id="msSearchCnt" resultType="int">
		SELECT count(ms_id)  
		FROM material_stock ms
		JOIN material m ON m.ma_id = ms.ma_id
		JOIN warehouse w ON w.wh_id = ms.wh_id
		<where>
			<if test="ma_num != ''">
				ma_num like CONCAT('%', #{ma_num}, '%')
			</if>
			<if test="ma_name != ''">
				AND ma_name like CONCAT('%', #{ma_name}, '%')
			</if>
		</where>
	</select>
	<!-- 검색 결과 개수 (페이징) -->
	

</mapper>