<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.modernhome.mapper.MaterialMapper">
	
	<!-- 자재 목록 조회 (페이징) -->
	<select id="materialList" resultType="MaterialVO">
		select *
		from material
		ORDER BY ma_id DESC
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 자재 목록 조회 (페이징) -->
	
	<!-- 전체 글 수 계산 (페이징) -->
	<select id="mateTotalCnt" resultType="int">
		SELECT count(*) from material
	</select>
	<!-- 전체 글 수 계산 (페이징) -->
	
	<!-- 자재 검색 결과 조회(페이징) -->
	<select id="maSearchList" resultType="MaterialVO" parameterType="java.util.Map">
		select * from material
		<where>
			<if test="materialVO.ma_num != ''">
				ma_num like CONCAT('%', #{materialVO.ma_num}, '%')
			</if>
			<if test="materialVO.ma_name != ''">
				AND ma_name like CONCAT('%', #{materialVO.ma_name}, '%')
			</if>
		</where>
		ORDER BY ma_id DESC
		LIMIT #{pageVO.startPage}, #{pageVO.pageSize}
	</select>
	<!-- 자재 검색 결과 조회 (페이징) -->
	
	<!-- 검색 결과 개수 계산(페이징) -->
	<select id="maSearchCnt" resultType="int">
		select count(*) from material
		<where>
			<if test="ma_num != ''">
				ma_num like CONCAT('%', #{ma_num}, '%')
			</if>
			<if test="ma_name != ''">
				AND ma_name like CONCAT('%', #{ma_name}, '%')
			</if>
		</where>
	</select>
	<!-- 검색 결과 개수 계산 (페이징) -->
	
	<!-- 자재 등록 -->
	<insert id="regMaterial">
		insert into material (ma_num, ma_name, ma_unit, ma_price)
		SELECT CONCAT(SUBSTRING(ma_num, 1, 2), LPAD(max(ma_id) + 1, 6, '0')), #{ma_name}, #{ma_unit}, #{ma_price}
		FROM material
		WHERE ma_num LIKE CONCAT('%', 'MA', '%')
	</insert>
	<!-- 자재 등록 -->
	
	<!-- 자재 삭제 -->
	<delete id="delMaterial">
		delete from material
		where ma_id = #{ma_id}
	</delete>
	<!-- 자재 삭제 -->
	
	<!-- 자재 수정 -->
	<update id="updateMaterial">
		update material 
		set ma_name = #{ma_name}, ma_unit = #{ma_unit}, ma_price = #{ma_price}
		where ma_num = #{ma_num}
	</update>
	<!-- 자재 수정 -->
	
	<!-- 자재 id값 가져오기 -->
	<select id="getMaId" resultType="int">
		SELECT max(ma_id) from material
	</select>
	<!-- 자재 id값 가져오기 -->
	
	
</mapper>