<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modernhome.mapper.OutOrderMapper">
	
	<!-- 수주 전체수 계산 -->
	<select id="outOrderCnt" resultType="int">
		SELECT COUNT(*) FROM out_order
	</select>
	<!-- 수주 전체수 계산 -->
	
	<!-- 수주 불러오기 -->
	<select id="outOrderList" resultType="com.modernhome.domain.OutOrderJoinVO">
		SELECT oo_num, out_order.emp_id, update_emp_id, clt_num, clt_name, pro_num, pro_name,
		oo_cnt, oo_start_date, oo_end_date, oo_state, pro_price, clt_cost, oo_id,
			CASE
			WHEN update_emp_id IS NULL THEN
			(SELECT emp_name FROM employee WHERE emp_id = out_order.emp_id)
			ELSE
			(SELECT emp_name FROM employee WHERE emp_id = out_order.update_emp_id)
			END AS emp_name,
			
			CASE
			WHEN oo_update_date IS NULL THEN
			oo_reg_date
			ELSE
			oo_update_date
			END AS oo_reg_date
			
			
		FROM out_order
		join client c on out_order.clt_id = c.clt_id
		join product p on out_order.pro_id = p.pro_id
		
		ORDER BY oo_num DESC
		
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 수주 -->
	
	
	
	
	<!-- 수주 검색결과수 계산 -->
	<select id="ooSearchCnt" resultType="int">
		SELECT COUNT(*) FROM out_order
			
			join employee e on out_order.emp_id = e.emp_id
			join client c on out_order.clt_id = c.clt_id
			join product p on out_order.pro_id = p.pro_id
		<where>
		<if test="clt_name != null">
			clt_name LIKE CONCAT('%', #{clt_name}, '%')
		</if>
		<if test="emp_name != null">
			AND emp_name LIKE CONCAT('%', #{emp_name}, '%') 
		</if>
		<if test="oo_start_date_1 != ''">
			AND oo_start_date &gt;= #{oo_start_date_1}
		</if>
		<if test="oo_start_date_2 != ''">
   	 		AND #{oo_start_date_2} &gt;= DATE(oo_start_date)
		</if>
		<if test="oo_end_date_1 != ''">
			AND oo_end_date &gt;= #{oo_end_date_1}
		</if>
		<if test="oo_end_date_2 != ''">
   	 		AND #{oo_end_date_2} &gt;= DATE(oo_end_date)
		</if>
		</where>
	</select>
	<!-- 수주 검색결과수 계산 -->
	
	
	<!-- 수주 검색 -->
	<select id="outOrderListSearch" resultType="com.modernhome.domain.OutOrderJoinVO">
			SELECT oo_num, emp_name, clt_num, clt_name, pro_num, pro_name,
			oo_cnt, oo_start_date, oo_end_date, oo_state
			FROM out_order
			join employee e on out_order.emp_id = e.emp_id
			join client c on out_order.clt_id = c.clt_id
			join product p on out_order.pro_id = p.pro_id
		<where>
		<if test="ovo.clt_name != null">
			clt_name LIKE CONCAT('%', #{ovo.clt_name}, '%')
		</if>
		<if test="ovo.emp_name != null">
			AND emp_name LIKE CONCAT('%', #{ovo.emp_name}, '%') 
		</if>
		<if test="ovo.oo_start_date_1 != ''">
			AND oo_start_date &gt;= #{ovo.oo_start_date_1}
		</if>
		<if test="ovo.oo_start_date_2 != ''">
   	 		AND #{ovo.oo_start_date_2} &gt;= DATE(oo_start_date)
		</if>
		<if test="ovo.oo_end_date_1 != ''">
			AND oo_end_date &gt;= #{ovo.oo_end_date_1}
		</if>
		<if test="ovo.oo_end_date_2 != ''">
   	 		AND #{ovo.oo_end_date_2} &gt;= DATE(oo_end_date)
		</if>
		</where>
		LIMIT #{pvo.startPage}, #{pvo.pageSize}
	</select>
	<!-- 수주 검색 -->
	
	
	
	
	
	
	
	
	<!-- 수주 등록 -->
	<insert id="regOutOrder">
		<selectKey keyProperty="oo_num" resultType="String" order="BEFORE">
			SELECT CONCAT('OO', LPAD(COALESCE(MAX(SUBSTR(oo_num, 3)), 0) + 1, 4, '0'))
			FROM out_order
		</selectKey>
	
	
		INSERT INTO out_order (oo_num, emp_id, clt_id, pro_id, oo_cnt, oo_start_date, oo_end_date, oo_state, clt_cost)
		VALUES (#{oo_num}, #{emp_id}, #{clt_id}, #{pro_id}, #{oo_cnt},
		CASE WHEN #{oo_start_date} = '' THEN CURRENT_TIMESTAMP ELSE #{oo_start_date} END,
		CASE WHEN #{oo_end_date} = '' THEN NULL ELSE #{oo_end_date} END,
		#{oo_state}, #{clt_cost})
	</insert>
	<!-- 수주 등록 -->
	
	<!-- 수주 삭제 -->
	<delete id="deleteOutOrder">
		DELETE FROM out_order WHERE oo_num = #{oo_num}
	</delete>
	<!-- 수주 삭제 -->
	
	<!-- 수주 수정 -->
	<update id="updateOutOrder">
		UPDATE out_order SET update_emp_id = #{update_emp_id}, oo_cnt = #{oo_cnt}, oo_state = #{oo_state},
		oo_start_date = CASE WHEN #{oo_start_date} = '' THEN NULL ELSE #{oo_start_date} END,
		oo_end_date = CASE WHEN #{oo_end_date} = '' THEN NULL ELSE #{oo_end_date} END,
		oo_update_date = CURRENT_TIMESTAMP,
		clt_cost = #{clt_cost}
		WHERE oo_num = #{oo_num}
	</update>
	<!-- 수주 수정 -->
	
	<!-- 수주서 -->
	<select id="outOrderContract" resultType="com.modernhome.domain.OutOrderJoinVO">
		SELECT oo_num, out_order.emp_id, update_emp_id, clt_num, clt_name, pro_num, pro_name,
		oo_cnt, oo_start_date, oo_end_date, oo_state, pro_price, clt_cost, oo_id,
			CASE
			WHEN update_emp_id IS NULL THEN
			(SELECT emp_name FROM employee WHERE emp_id = out_order.emp_id)
			ELSE
			(SELECT emp_name FROM employee WHERE emp_id = out_order.update_emp_id)
			END AS emp_name,
			
			CASE
			WHEN oo_update_date IS NULL THEN
			oo_reg_date
			ELSE
			oo_update_date
			END AS oo_reg_date
			
			
		FROM out_order
		join client c on out_order.clt_id = c.clt_id
		join product p on out_order.pro_id = p.pro_id
		WHERE oo_num = #{oo_num}
	</select>
	<!-- 수주서 -->
	
	
	
	
	<!-- 월별 수주건수, 금액 계산 -->
	<select id="monthlyOrderResult" resultType="com.modernhome.domain.OutOrderResultVO">
		SELECT DATE_FORMAT(oo_start_date, '%Y-%m') AS month,
		COUNT(*) monthlyOrderCount, SUM(clt_cost) AS monthlyOrderAmount
		FROM out_order
		GROUP BY DATE_FORMAT(oo_start_date, '%Y-%m')
		ORDER BY month
	</select>
	<!-- 월별 수주건수, 금액 계산 -->
	
	
</mapper>