<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.modernhome.mapper.ProductMapper">
	
	<!-- 완제품 목록 조회 -->
	<select id="productList" resultType="com.modernhome.domain.ProductVO">
		select *
		from product
	</select>
	<!-- 완제품 목록 조회 -->
	
	<!-- 완제품 검색 결과 조회 (페이징) -->
	<select id="proSearchList" resultType="ProductVO" parameterType="java.util.Map">
		select * from product
		<where>
			<if test="productVO.pro_num != ''">
				pro_num like CONCAT('%', #{productVO.pro_num}, '%')
			</if>
			<if test="productVO.pro_name != ''">
				AND pro_name like CONCAT('%', #{productVO.pro_name}, '%')
			</if>
		</where>
		ORDER BY pro_id DESC
		LIMIT #{pageVO.startPage}, #{pageVO.pageSize}
	</select>	
	<!-- 완제품 검색 결과 조회 (페이징) -->
	
	<!-- 완제품 등록 -->
	<insert id="regProduct">
		insert into product (pro_num, pro_name, pro_unit, pro_price)
		SELECT CONCAT(SUBSTRING(pro_num, 1, 2), LPAD(max(pro_id) + 1, 6, '0')), #{pro_name}, #{pro_unit}, #{pro_price}
		FROM product
		WHERE pro_num LIKE CONCAT('%', 'PR', '%')
	</insert>
	<!-- 완제품 등록 -->
	
	<!-- 완제품 삭제 -->
	<delete id="delProduct">
		delete from product
		where pro_id = #{pro_id}
	</delete>
	<!-- 완제품 삭제 -->
	
	<!-- 완제품 수정 -->
	<update id="updateProduct">
		update product
		set pro_name = #{pro_name}, pro_unit = #{pro_unit}, pro_price = #{pro_price} 
		where pro_num = #{pro_num}
	</update>
	<!-- 완제품 수정 -->
	
	<!-- 완제품 id값 가져오기 -->
	<select id="getProId" resultType="int">
		SELECT max(pro_id) from product
	</select>
	<!-- 완제품 id값 가져오기 -->
	
	<!-- 완제품 목록 (페이징) -->
	<select id="proListPage" resultType="productVO">
		SELECT * from product
		ORDER BY pro_id DESC
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 완제품 목록 (페이징) -->
	
	<!-- 전체 글 수 계산 (페이징) -->
	<select id="proTotalCnt" resultType="int">
		SELECT count(*) from product
	</select>
	<!-- 전체 글 수 계산 (페이징) -->
	
	<!-- 검색 결과 개수 계산 (페이징) -->
	<select id="proSearchCnt" resultType="int">
		SELECT count(*) from product
		<where>
			<if test="pro_num != ''">
				pro_num like CONCAT('%', #{pro_num}, '%')
			</if>
			<if test="pro_name != ''">
				AND pro_name like CONCAT('%', #{pro_name}, '%')
			</if>
		</where>
	</select>
	<!-- 검색 결과 개수 계산 (페이징) -->
	
</mapper>