<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modernhome.domain.ProductStockVO">

	<!-- resultMap -->
	<resultMap type="ProductStockVO" id="proStockResultMap">
		<result property="ps_id" column="ps_id" />
		<result property="ps_num" column="ps_num" />
		<result property="pro_id" column="pro_id" />
		<result property="ps_cnt" column="ps_cnt" />
		<result property="wh_id" column="wh_id" />
		<result property="ps_reg_date" column="ps_reg_date" />
		<result property="emp_id" column="emp_id" />
		<result property="ps_update_date" column="ps_update_date" />
		<result property="update_emp_id" column="update_emp_id" />
		<result property="wh_name" column="wh_name" />
		<result property="pro_num" column="pro_num" />
		<result property="pro_name" column="pro_name" />
		<result property="pro_unit" column="pro_unit" />
	
	</resultMap>
	<!-- resultMap -->
	
	<!-- 완제품 재고 목록 -->
	<select id="getProStock" resultMap="proStockResultMap">
		SELECT ps_id, wh_name, p.pro_num, pro_name, ps_cnt, p.pro_unit
		FROM product_stock ps
		JOIN product p ON p.pro_id = ps.pro_id
		JOIN warehouse w ON w.wh_id = ps.wh_id
		ORDER BY ps_id desc
	</select>
	<!-- 완제품 재고 목록 -->
	
	<!-- 완제품 재고 등록 -->
	<insert id="regProStock">
		INSERT INTO product_stock (ps_num, pro_id)
		SELECT CONCAT(SUBSTRING(ps_num, 1, 2), LPAD(max(ps_id) + 1, 6, '0')), #{maxProId}
		FROM product_stock
		WHERE ps_num LIKE CONCAT('%', 'PS', '%')
	</insert>
	<!-- 완제품 재고 등록 -->
	
	<!-- 완제품 재고 검색 -->
	<select id="searchProStock" resultType="ProductStockVO">
		SELECT ps_id, wh_name, p.pro_num, pro_name, ps_cnt, p.pro_unit
		FROM product_stock ps
		JOIN product p ON p.pro_id = ps.pro_id
		JOIN warehouse w ON w.wh_id = ps.wh_id
		<where>
			<if test="pro_num != ''">
				pro_num like CONCAT('%', #{pro_num}, '%')
			</if>
			<if test="pro_name != ''">
				AND pro_name like CONCAT('%', #{pro_name}, '%')
			</if>
		</where>
	</select>
	<!-- 완제품 재고 검색 -->
	
	

</mapper>