<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.modernhome.mapper.receiveMapper">
  
  	<!-- 입고 목록 -->
	<resultMap id="receiveResultMap" type="com.modernhome.domain.ReceiveVO">
	
        <result property="rec_id" column="rec_id" />
        <result property="rec_num" column="rec_num" />
        <result property="io_id" column="io_id" />
        <result property="ma_id" column="ma_id" />
        <result property="rec_cnt" column="rec_cnt" />
        <result property="rec_date" column="rec_date" />
        <result property="clt_id" column="clt_id" />
        <result property="rec_in_state" column="rec_in_state" />
        <result property="wh_id" column="wh_id" />
        <result property="emp_id" column="emp_id" />
        <result property="reg_date" column="reg_date" />
        <result property="update_date" column="update_date" />
        <result property="update_emp_id" column="update_emp_id" />
		<result property="wh_name" column="wh_name" />
		<result property="io_num" column="io_num" />
		<result property="io_cnt" column="io_cnt" />
		<result property="ma_name" column="ma_name" />
		<result property="clt_name" column="clt_name" />
		<result property="emp_name" column="emp_name" />
		
	</resultMap>


	<select id="getReceiveList" resultMap="receiveResultMap">
    	<![CDATA[
	        SELECT rec_id, rec_num, i.io_num, m.ma_name, r.rec_cnt, i.io_cnt, c.clt_name,
					r.rec_in_state, w.wh_name, r.rec_date, r.emp_id, r.reg_date, r.update_date, r.update_emp_id,
			CASE
	        	WHEN r.update_emp_id IS NULL THEN
	        		(SELECT emp_name FROM employee WHERE emp_id = r.emp_id)
	        	ELSE
	        		(SELECT emp_name FROM employee WHERE emp_id = r.update_emp_id)	
	        END AS emp_name
			FROM receive r
			JOIN employee e ON r.emp_id = e.emp_id
	        JOIN warehouse w ON r.wh_id = w.wh_id
	        JOIN in_order i ON r.io_id = i.io_id
	        JOIN material m ON i.ma_id = m.ma_id
	        JOIN client c ON r.clt_id = c.clt_id
    	]]>
	</select>
    <!-- 입고 목록 -->
    
    <!-- 입고 검색 -->
    <select id="receiveSearch" resultMap="receiveResultMap" parameterType="java.util.Map">
		SELECT rec_id, rec_num, i.io_num, m.ma_name, r.rec_cnt, i.io_cnt, c.clt_name,
				r.rec_in_state, w.wh_name, r.rec_date, r.emp_id, r.reg_date, r.update_date, r.update_emp_id,
		CASE
        	WHEN r.update_emp_id IS NULL THEN
        		(SELECT emp_name FROM employee WHERE emp_id = r.emp_id)
        	ELSE
        		(SELECT emp_name FROM employee WHERE emp_id = r.update_emp_id)	
        END AS emp_name
		FROM receive r
		JOIN employee e ON r.emp_id = e.emp_id
        JOIN warehouse w ON r.wh_id = w.wh_id
        JOIN in_order i ON r.io_id = i.io_id
        JOIN material m ON i.ma_id = m.ma_id
        JOIN client c ON r.clt_id = c.clt_id
        
		<where>
	        <if test="io_num != ''">
	            AND io_num like CONCAT('%', #{io_num}, '%')
	        </if>
	        <if test="ma_name != ''">
	            AND ma_name like CONCAT('%', #{ma_name}, '%')
	        </if>
	        <if test="startDate != ''">
	        	AND r.rec_date &gt;= #{startDate}
	        </if>
	        <if test="endDate != ''">
	        	AND #{endDate} &gt;= DATE(r.rec_date)
	        </if>
	    </where>
    </select>

    <!-- 입고 검색 -->
    
    
    <!-- 입고 등록 -->	
    <insert id="regReceive">
    	<selectKey keyProperty="ma_id" resultType="int" order="BEFORE">
    		SELECT ma_id FROM material WHERE ma_name = #{ma_name}
    	</selectKey>
	    INSERT INTO receive (rec_num, io_id, ma_id, rec_cnt, clt_id, rec_in_state, wh_id, rec_date, reg_date, emp_id)
	    SELECT
	        CONCAT(SUBSTRING(rec_num, 1, 2), LPAD(max(rec_id) + 1, 6, '0')),
	        #{io_id},
	        #{ma_id},
	        #{rec_cnt},
	        #{clt_id},
	        #{rec_in_state},
	        2,
	        #{rec_date},
	        now(),
	        #{emp_id}
	    FROM receive
	    WHERE rec_num LIKE CONCAT('%' ,'RE', '%');
	</insert>
    <!-- 입고 등록 -->	
  	
    <!-- 입고 삭제 -->
    <delete id="deleteReceive">
		DELETE FROM receive
		WHERE rec_id = #{rec_id}
	</delete>	
    <!-- 입고 삭제 -->	

    <!-- 입고 수정 -->
    <update id="updateReceive">
		UPDATE receive
		SET rec_cnt = #{rec_cnt}, rec_in_state = #{rec_in_state}, rec_date = #{rec_date}, update_date = now(), update_emp_id = #{update_emp_id}  
		WHERE rec_num = #{rec_num}
	</update>	
    <!-- 입고 수정 -->
    	
  	
  </mapper>