<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.modernhome.mapper.receiveMapper">
  
  	<!-- 입고 목록 -->
	<resultMap id="receiveResultMap" type="com.modernhome.domain.ReceiveVO">
	
        <id property="rec_id" column="rec_id" />
        <result property="rec_num" column="rec_num" />
        <result property="io_id" column="io_id" />
        <result property="ma_id" column="ma_id" />
        <result property="rec_cnt" column="rec_cnt" />
        <result property="rec_date" column="rec_date" />
        <result property="clt_id" column="clt_id" />
        <result property="rec_in_state" column="rec_in_state" />
        <result property="wh_id" column="wh_id" />
        <result property="rec_state" column="rec_state" />
        <result property="emp_id" column="emp_id" />
        
        <!-- WarehouseVO 클래스 정의 -->
	    <association property="warehouseVO" javaType="com.modernhome.domain.WarehouseVO">
	      <id property="wh_name" column="wh_name" />
	    </association>

	    <!-- InorderVO 클래스 정의 -->
	    <association property="inorderVO" javaType="com.modernhome.domain.InorderVO">
	      <id property="io_num" column="io_num" />
	      <result property="io_cnt" column="io_cnt" />
	    </association>
        
        <!-- MaterialVO 클래스 정의 -->
	    <association property="materialVO" javaType="com.modernhome.domain.MaterialVO">
	      <id property="ma_name" column="ma_name" />
	    </association>

	    <!-- ClientVO 클래스 정의 -->
	    <association property="clientVO" javaType="com.modernhome.domain.ClientVO">
	      <id property="clt_name" column="clt_name" />
	    </association>
	  </resultMap>
	<select id="getReceiveList" resultMap="receiveResultMap">
    	<![CDATA[
	        SELECT rec_num, i.io_num, m.ma_name, r.rec_cnt, i.io_cnt, c.clt_name,
					r.rec_state, r.rec_in_state, w.wh_name, r.rec_date, r.emp_id
			FROM receive r
	        JOIN warehouse w ON r.wh_id = w.wh_id
	        JOIN in_order i ON r.io_id = i.io_id
	        JOIN material m ON i.ma_id = m.ma_id
	        JOIN client c ON i.clt_id = c.clt_id;
    	]]>
	</select>
    <!-- 입고 목록 -->
    
    <!-- 입고 검색 -->
    <select id="receiveSearch" resultMap="receiveResultMap" parameterType="java.util.Map">
		SELECT rec_num, i.io_num, m.ma_name, r.rec_cnt, i.io_cnt, c.clt_name,
				r.rec_state, r.rec_in_state, w.wh_name, r.rec_date, r.emp_id
		FROM receive r
        JOIN warehouse w ON r.wh_id = w.wh_id
        JOIN in_order i ON r.io_id = i.io_id
        JOIN material m ON i.ma_id = m.ma_id
        JOIN client c ON i.clt_id = c.clt_id
        
		<where>
	        <if test="io_num != ''">
	            AND io_num like CONCAT('%', #{io_num}, '%')
	        </if>
	        <if test="ma_name != ''">
	            AND ma_name like CONCAT('%', #{ma_name}, '%')
	        </if>
	        <if test="startDate != ''">
	        	AND r.rec_date &gt;= #{startDate}
	        </if>
	        <if test="endDate != ''">
	        	AND #{endDate} &gt;= DATE(r.rec_date)
	        </if>
	    </where>
    </select>

    <!-- 입고 검색 -->
    	
  	
  </mapper>