<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.modernhome.mapper.ShipmentMapper">
	
	<!-- 출하 불러오기 -->
	<select id="shipmentList" resultType="com.modernhome.domain.ShipmentJoinVO">
		SELECT shp_num, emp_name, clt_name, pro_num, pro_name,  shp_cnt, shp_date
		from shipment
		join employee e on shipment.emp_id = e.emp_id
		join client c on shipment.clt_id = c.clt_id
		join product p on shipment.pro_id = p.pro_id
	</select>
	<!-- 출하 불러오기 -->
	
	<!-- 출하 검색 -->
	<select id="shipmentListSearch" resultType="com.modernhome.domain.ShipmentJoinVO">
	SELECT shp_num, emp_name, clt_name, pro_num, pro_name,  shp_cnt, shp_date
	FROM shipment
	JOIN employee e ON shipment.emp_id = e.emp_id
	JOIN client c ON shipment.clt_id = c.clt_id
	JOIN product p ON shipment.pro_id = p.pro_id
	<where>
		<if test="clt_name != null">
			AND clt_name LIKE CONCAT('%', #{clt_name}, '%')
		</if>
		<if test="emp_name != null">
			AND emp_name LIKE CONCAT('%', #{emp_name}, '%') 
		</if>
		<if test="startDate != ''">
			AND shp_date &gt;= #{startDate}
		</if>
		<if test="endDate != ''">
			AND #{endDate} &gt;= DATE(shp_date)
		</if>
	</where>
</select>
	<!-- 출하 검색 -->
	
	<!-- 출하 등록 -->
	<insert id="regShipment">
		<selectKey keyProperty="shp_num" resultType="String" order="BEFORE">
			SELECT CONCAT('SP', LPAD(COALESCE(MAX(SUBSTR(shp_num, 3)), 0) + 1, 4, '0'))
			FROM shipment
		</selectKey>
	
	
		INSERT INTO shipment (shp_num, emp_id, clt_id, pro_id, shp_cnt, shp_date)
		VALUES (#{shp_num}, #{emp_id}, #{clt_id}, #{pro_id}, #{shp_cnt},
		CASE WHEN #{shp_date} = '' THEN NULL ELSE #{shp_date} END)
	</insert>
	<!-- 출하 등록 -->
	
	<!-- 출하 삭제 -->
	<delete id="deleteShipment">
		DELETE FROM shipment WHERE shp_num = #{shp_num}
	</delete>
	<!-- 출하 삭제 -->
	
	<!-- 출하 수정 -->
	<update id="updateShipment">
		UPDATE shipment SET update_emp_id = #{update_emp_id}, shp_cnt = #{shp_cnt},
		shp_date = CASE WHEN #{shp_date} = '' THEN NULL ELSE #{shp_date} END
		WHERE shp_num = #{shp_num}
	</update>
	<!-- 출하 수정 -->
	
	
	

</mapper>