<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modernhome.mapper.WorkInstrMapper">
	
	<!-- Join 결과 매핑 RM은 resultMap -->
	<resultMap id="wijoinRM" type="WijoinVO">
		<result property="work_id" column="work_id"/>
		<result property="pro_id" column="pro_id"/>
		<result property="req_id" column="req_id"/>
		<result property="clt_id" column="clt_id"/>
		<result property="oo_id" column="oo_id"/>
		<result property="line_id" column="line_id"/>
		<result property="emp_id" column="emp_id"/>
		<result property="work_num" column="work_num"/>
		<result property="pro_num" column="pro_num"/>
		<result property="ma_num" column="ma_num"/>
		<result property="oo_num" column="oo_num"/>
		<result property="line_num" column="line_num"/>
		<result property="clt_name" column="clt_name"/>
		<result property="pro_name" column="pro_name"/>
		<result property="pro_unit" column="pro_unit"/>
		<result property="emp_name" column="emp_name"/>
		<result property="line_name" column="line_name"/>
		<result property="ma_num" column="ma_num"/>
		<result property="ma_name" column="ma_name"/>
		<result property="oo_cnt" column="oo_cnt"/>
		<result property="req_cnt" column="req_cnt"/>
		<result property="work_cnt" column="work_cnt"/>
		<result property="work_state" column="work_state"/>
		<result property="reg_date" column="reg_date"/>
		<result property="oo_end_date" column="oo_end_date"/>
	</resultMap>
	<!-- Join 결과 매핑 -->
	
	
	<!-- 작업지시 목록 조회 -->
	<select id="getList" resultMap="wijoinRM">
		SELECT wi.work_id, wi.pro_id, work_num, line_name, pro_num, pro_name, wi.work_state, oo_cnt, wi.reg_date, wi.work_cnt, oo_num, oo_end_date, emp.emp_name 
		FROM work_instr wi 
		LEFT JOIN out_order oo ON wi.oo_id = oo.oo_id 
		LEFT JOIN client clt ON oo.clt_id = clt.clt_id 
		LEFT JOIN line l ON wi.line_id = l.line_id  
		LEFT JOIN product pro ON wi.pro_id = pro.pro_id 
		LEFT JOIN employee emp ON wi.emp_id = emp.emp_id
	</select>
	<!-- 작업지시 목록 조회 -->
	
	
	<!-- 작업지시서 조회 -->
	<select id="getInstr" resultMap="wijoinRM">
		SELECT wi.work_id, wi.pro_id, work_num, oo_num, pro_num, pro_name, oo_cnt, pro_unit, oo_end_date, clt_name, line_num, wi.reg_date 
		FROM work_instr wi 
		LEFT JOIN out_order oo ON wi.oo_id = oo.oo_id 
		LEFT JOIN client clt ON oo.clt_id = clt.clt_id 
		LEFT JOIN line l ON wi.line_id = l.line_id  
		LEFT JOIN product pro ON wi.pro_id = pro.pro_id 
		WHERE wi.work_id = #{work_id}
	</select>
	<!-- 작업지시서 조회 -->
	
	
	<!-- 작업지시서 자재 출력 -->
	<select id="getInstrReq" resultMap="wijoinRM">
		SELECT wi.work_id, wi.pro_id, ma_num, ma_name, req_cnt, work_cnt 
		FROM  work_instr wi 
		LEFT JOIN requirement req ON wi.pro_id = req.pro_id 
		LEFT JOIN material ma ON ma.ma_id = req.ma_id 
		WHERE wi.work_id = #{work_id} AND wi.pro_id = #{pro_id}
	</select>
	<!-- 작업지시서 자재 출력 -->
	
	
	<!-- 작업지시 검색 -->
	<select id="wiListSearch" resultMap="wijoinRM">
		SELECT wi.work_id, wi.pro_id, work_num, line_name, pro_num, pro_name, work_state, oo_cnt, wi.reg_date, wi.work_cnt, oo_num, oo_end_date, emp.emp_name 
		FROM work_instr wi 
		LEFT JOIN out_order oo ON wi.oo_id = oo.oo_id 
		LEFT JOIN client clt ON oo.clt_id = clt.clt_id 
		LEFT JOIN line l ON wi.line_id = l.line_id  
		LEFT JOIN product pro ON wi.pro_id = pro.pro_id 
		LEFT JOIN employee emp ON wi.emp_id = emp.emp_id 
		<where>
			<if test="work_state != ''">
				work_state = #{work_state}
			</if>
			<if test="pro_num != ''">
				AND wi.pro_id = (SELECT pro.pro_id FROM product pro WHERE pro.pro_num = #{pro_num})
			</if>
			<if test="startDate != ''">
	        	AND wi.reg_date &gt;= #{startDate}
	        </if>
	        <if test="endDate != ''">
	        	AND #{endDate} &gt;= DATE(wi.reg_date)
	        </if>
		</where>
	</select>
	<!-- 작업지시 검색 -->
	
	
	<!-- 작업지시서를 작성하지 않은 수주 번호 출력 -->
	<select id="getBeforeInstr" resultMap="wijoinRM">
		SELECT wi.work_id, oo_num FROM work_instr wi 
		RIGHT JOIN out_order oo ON wi.oo_id = oo.oo_id 
		WHERE wi.work_id IS NULL
	</select>
	<!-- 작업지시서를 작성하지 않은 수주 번호 출력 -->
	
	
	<!-- 작업지시서를 작성하지 않은 수주번호와 관련된 작업지시서 내용 출력 -->
	<select id="getBeforeInstrReq" resultMap="wijoinRM">
		SELECT oo.pro_id, oo.oo_id, oo.clt_id, req.req_id, pro_num, pro_name, pro_unit, ma_num, ma_name, clt_name, req_cnt, oo_cnt, oo_end_date 
		FROM work_instr wi 
		RIGHT JOIN out_order oo ON wi.pro_id = oo.pro_id 
		RIGHT JOIN requirement req ON oo.pro_id = req.pro_id 
		RIGHT JOIN material ma ON req.ma_id = ma.ma_id 
		RIGHT JOIN product pro ON req.pro_id = pro.pro_id 
		RIGHT JOIN client clt ON oo.clt_id = clt.clt_id 
		WHERE oo_num = #{oo_num}
	</select>
	<!-- 작업지시서를 작성하지 않은 수주번호와 관련된 작업지시서 내용 출력 -->
	
	
	<!-- 작업지시 번호 자동 생성 -->
	<select id="createWorkNum" resultType="String">
		SELECT concat('WI', lpad(work_id + 1, 4, 0)) AS work_num FROM work_instr ORDER BY work_id DESC LIMIT 1
	</select>
	<!-- 작업지시 번호 자동 생성 -->

</mapper>