<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modernhome.mapper.WorkPrfrmMapper">
	
	<!-- Join 결과 매핑 RM은 resultMap -->
	<resultMap id="wijoinRM" type="WijoinVO">
		<result property="work_id" column="work_id"/>
		<result property="pro_id" column="pro_id"/>
		<result property="req_id" column="req_id"/>
		<result property="clt_id" column="clt_id"/>
		<result property="oo_id" column="oo_id"/>
		<result property="line_id" column="line_id"/>
		<result property="emp_id" column="emp_id"/>
		<result property="work_num" column="work_num"/>
		<result property="pro_num" column="pro_num"/>
		<result property="ma_num" column="ma_num"/>
		<result property="oo_num" column="oo_num"/>
		<result property="line_num" column="line_num"/>
		<result property="clt_name" column="clt_name"/>
		<result property="pro_name" column="pro_name"/>
		<result property="pro_unit" column="pro_unit"/>
		<result property="emp_name" column="emp_name"/>
		<result property="line_name" column="line_name"/>
		<result property="ma_num" column="ma_num"/>
		<result property="ma_name" column="ma_name"/>
		<result property="oo_cnt" column="oo_cnt"/>
		<result property="req_cnt" column="req_cnt"/>
		<result property="work_cnt" column="work_cnt"/>
		<result property="work_state" column="work_state"/>
		<result property="reg_date" column="reg_date"/>
		<result property="oo_end_date" column="oo_end_date"/>
		<result property="qc_id" column="qc_id"/>
		<result property="qc_num" column="qc_num"/>
		<result property="qc_yn" column="qc_yn"/>
		<result property="qc_cnt" column="qc_cnt"/>
		<result property="qc_date" column="qc_date"/>
		<result property="repaired" column="repaired"/>
		<result property="prfrm_id" column="prfrm_id"/>
		<result property="prfrm_cnt" column="prfrm_cnt"/>
		<result property="ma_id" column="ma_id"/>
		<result property="prfrm_num" column="prfrm_num"/>
	</resultMap>
	<!-- Join 결과 매핑 -->
	
	
	<!-- 작업지시 목록 중 품질검사가 완료인 목록만 출력 -->
	<select id="getqcEndInstr" resultMap="wijoinRM">
		SELECT wp.prfrm_id, prfrm_num, wp.work_id, work_num, wp.line_id, line_name, wp.pro_id, pro_num, pro_name, wp.reg_date, wp.update_date, 
			prfrm_cnt, work_cnt, wp.emp_id, wp.update_emp_id 
		FROM work_prfrm wp 
		LEFT JOIN work_instr wi ON wi.work_id = wp.work_id 
		LEFT JOIN line li ON li.line_id = wp.line_id 
		LEFT JOIN product pro ON pro.pro_id = wp.pro_id 
		LEFT JOIN quality_checking qc ON qc.prfrm_id = wp.prfrm_id 
		WHERE qc.qc_yn = '완료';
	</select>
	<!-- 작업지시 목록 중 품질검사가 완료인 목록만 출력 -->

</mapper>