<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modernhome.mapper.WorkInstrMapper">

	<!-- 작업지시서 조회 -->
	<select id="getInstr" resultType="com.modernhome.domain.WorkInstrVO">
		select * from work_instr where work_id = #{work_id}
	</select>
	<!-- 작업지시서 조회 -->
	
	<!-- 작업지시 목록 조회 -->
	<select id="getList" resultType="com.modernhome.domain.WorkInstrVO">
		select * from work_instr
	</select>
	<!-- 작업지시 목록 조회 -->

</mapper>